[submodule "libvpx"]
	path = libvpx
	url = http://git.chromium.org/webm/libvpx.git
[submodule "vpx/libvpx"]
	path = vpx/libvpx
	url = http://git.chromium.org/webm/libvpx.git
[submodule "Galileo-iOS-SDK"]
	path = Galileo-iOS-SDK
	url = git@github.com:motrr/Galileo-iOS-SDK.git
